div.sk-feedback {}
div.sk-name, div.sk-email, div.sk-phone, div.sk-time, div.sk-file, div.sk-field1, div.sk-field2, div.sk-field3, div.sk-captcha, div.sk-message {width:80%; padding-bottom:0.4em;}
div.sk-name input, div.sk-email input, div.sk-phone input, div.sk-time input, div.sk-file input, div.sk-field1 input, div.sk-field2 input, div.sk-field3 input {width:60%;}
div.sk-message textarea {width: 60%;}
span.sk-req {color:red;}
div.sk-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}
